# NFServerController configuration file example
# Format: ServerName|ServerID|ConfigPath|PluginPath|LuaScriptPath|LogPath|GameName|ExecutablePath|WorkingDir
#
# Parameter description:
# ServerName     - Server name
# ServerID       - Server ID (format: WorldID.RegionID.ServerType.Index)
# ConfigPath     - Configuration file path
# PluginPath     - Plugin path
# LuaScriptPath  - Lua script path
# LogPath        - Log path
# GameName       - Game name
# ExecutablePath - Executable file path
# WorkingDir     - Working directory

# Master server - must start first
MasterServer|1.13.1.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Route agent server - depends on master server
RouteAgentServer|1.13.3.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Data store server
StoreServer|1.13.6.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Login server
LoginServer|1.13.7.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# World server
WorldServer|1.13.8.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Logic server
LogicServer|1.13.9.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Game server
GameServer|1.13.10.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install

# Proxy server - should start last
ProxyServer|1.13.5.1|../Install/Config|../Install/LieRenPlugin|../Install/LuaScript|../Install/logs|LieRen|../Install/Bin/NFServerStatic|../Install 